<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/decrypt-files.css') }}">
    <title>Decrypt</title>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>

    <script src="{{url_for('static', filename='javascript/util.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/aes_encryption.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/rsa_encryption.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/db_encryption.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/generate-keys.js')}}"></script>

    <script>
        rsaKeyPair = {
            publicKey: "",
            privateKey: "",
        };
        inputData = null;

        const setInputData = (data) => {
            inputData = data;
        };

        const updateRsaKeyPair = () => {
            const privateKeyFile = document.getElementById("rsaPrivateKey").files[0];
            if (privateKeyFile) {
                const reader = new FileReader();
                reader.onload = (event) => {
                    rsaKeyPair.privateKey = event.target.result;
                    console.log("Chave privada atualizada:", rsaKeyPair.privateKey);
                };
                reader.readAsText(privateKeyFile);
            }
        };

        const readBinaryFile = async (file) => {
            if (!file) {
                return;
            }

            if (file.size > 1024 * 1024 * 50) {  // Limite de tamanho do arquivo
                return alert("O tamanho do arquivo é muito grande");
            }

            const reader = new FileReader();
            return new Promise((resolve) => {
                reader.onload = function (e) {
                    resolve(reader.result);
                };
                reader.readAsArrayBuffer(file);
            });
        };

        const importFiles = async (files) => {
            const filesData = [];
            for (const file of files) {
                const data = await readBinaryFile(file);
                filesData.push({ fileName: file.name, data });
            }
            return filesData;
        };

        const downloadZipFile = (content, fileName) => {
            const link = document.createElement("a");
            link.href = URL.createObjectURL(content);
            link.download = fileName;
            link.click();
            URL.revokeObjectURL(link.href);
        };

        const getCurrentDateTimeString = () => {
            const now = new Date();
            const year = now.getFullYear();
            const month = String(now.getMonth() + 1).padStart(2, '0');
            const day = String(now.getDate()).padStart(2, '0');
            const hours = String(now.getHours()).padStart(2, '0');
            const minutes = String(now.getMinutes()).padStart(2, '0');
            const seconds = String(now.getSeconds()).padStart(2, '0');
            return `${year}-${month}-${day}_${hours}-${minutes}-${seconds}`;
        };

        const decryptFiles = async () => {
            updateRsaKeyPair();
            const files = document.getElementById("dropzone-decrypt-files").files;
            if (!files.length) {
                return alert("Selecione pelo menos um arquivo para descriptografar.");
            }

            try {
                const zip = new JSZip();
                const filesData = await importFiles(files);

                for (const { fileName, data } of filesData) {
                    const decryptedData = await dbDecryptByte(data, rsaKeyPair.privateKey);
                    zip.file(`decrypted_${fileName}`, decryptedData);
                }

                const content = await zip.generateAsync({ type: "blob" });
                const dateTimeString = getCurrentDateTimeString();
                downloadZipFile(content, `decrypted_${dateTimeString}.zip`);
            } catch (err) {
                console.error(err);
                alert('Falha na descriptografia.');
            }
        };
    </script>

</head>
<body>

<div class="container background" id="demo">
    <div class="overlay">
        <div class="experience">
            <h1>Descriptografia</h1>

            <h3>Coloque a chave privada</h3>
            <input
                    type="file"
                    id="rsaPrivateKey"
                    accept=".pem"
                    placeholder="RSA Private Key"
                    onChange="updateRsaKeyPair()"
            />

            <h3>Importe os arquivos para descriptografar</h3>
            <input
                    id="dropzone-decrypt-files"
                    type="file"
                    multiple
                    onChange="importFiles(this.files)"
            />

            <button onclick='decryptFiles()'>Descriptografar Arquivos</button>
        </div>
    </div>
</div>

</body>
</html>
