<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/generate-keys.css') }}">
    <title>Gerar chaves</title>
    <script src="{{url_for('static', filename='javascript/util.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/aes_encryption.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/rsa_encryption.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/db_encryption.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/generate-keys.js')}}"></script>

</head>
<body>
<div class="container background">
    <div class="overlay">

        <div class="experience">
            <h1 class="uppercase">Gerador de Chaves</h1>
            <p class="uppercase">Clique no botão para gerar chaves RSA e baixá-las.</p>
            <p class="uppercase">Envie o arquivo "rsa_public.pem" para um representante da Dreambricks</p>
            <p class="uppercase">mantenha o arquivo "rsa_private.pem" em um lugar seguro.</p>


            <button onclick="generateAndDownloadKeys()">GERAR CHAVES</button>


        </div>
    </div>
</div>

</body>
</html>
